= simple_form_for([@purchase]) do |f|

	= f.input :description, label: 'Descripción', :input_html => { :class => "" }
	= f.input :user_id, as: :select, collection: User.all

	= f.submit "Guardar", class:"btn btn-info"